@media all and (min-width: 1199px){
    .container {
        max-width: 1110px;
        margin: 0 auto;
        padding: 0 15px;
    }
}
@media all and (max-width: 1199px){

}

@media all and (max-width: 991px){
	
}

@media all and (max-width: 767px){
	
}

@media all and (max-width: 575px){
	
}

@media all and (max-width: 450px){
	
}